<!--ajax対応のフォームを定義-->

<% 10.times do |i| %> 

<div class = 'form-horizontal'>
<%= form_tag({ action: 'isbn_search' }, :class => 'isbn_search', id: i, remote: true) do %>
  <div class="control-group">
    <%= label_tag :isbn, 'ISBN', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :isbn, '', size: 30 %> <%= submit_tag '書籍名を取得', :class => 'btn btn-primary' %>
    </div>
    <div class="controls">
    ※13桁のISBNを「-」なしで入力してください
    </div>
  </div>
<% end %>
</div>

<% end %>


<%= form_for(@form, url: books_path, method: :post) do |fb| %>
<table class="table">
<thead>
  <tr>
    <th width="60px">登録</th>
    <th>タイトル</th>
    <th>書籍情報</th>
    <th>ジャンル</th>
    <th>メモ</th>
  </tr>
</thead>
<tbody class="bulk-registration-form">
<%= fb.fields_for :books do |f| %>
  <tr class="item">
  <td class="text-center">
  <%= f.check_box :register, class: 'top10 registration-checkbox' %>
  </td>
  <td>
  <%= f.text_field :title, class: 'form-control' %>
  </td>
  <td>
  <%= f.text_field :description, class: 'form-control' %>
  </td>
  <td>
  <%= f.text_field :genre, class: 'form-control' %>
  </td>
  <td>
  <%= f.text_field :memo, class: 'form-control' %>
  </td>

</tr>
<% end %>
</tbody>
</table>

<div class="text-center">
<%= fb.submit '一括登録', class: 'btn btn-primary' %>
</div>
<% end %>
