<%- model_class = Book -%>
<div class="page-header">
  <h1>登録書籍</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= 'タイトル' %>:</strong></dt>
  <dd><%= @book.title %></dd>
  <dt><strong><%= '書籍情報' %>:</strong></dt>
  <dd><%= @book.description %></dd>
  <dt><strong><%= 'ジャンル' %>:</strong></dt>
  <dd><%= @book.genre %></dd>
  <dt><strong><%= 'メモ' %>:</strong></dt>
  <dd><%= @book.memo %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("戻る")),
              books_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("編集")),
              edit_book_path(@book), :class => 'btn' %>
<%= link_to t('.new', :default => t("登録")),
            new_book_path,
            :class => 'btn btn-primary' %>  
  <%= link_to t('.destroy', :default => t("削除")),
              book_path(@book),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '本当に削除しますか？')) },
              :class => 'btn btn-danger' %>
</div>
